
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #6c63ff, #8888ce);
  color: #e0e3e8;
  font-family: 'Segoe UI', Arial, sans-serif;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  padding: 20px;
}


.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.avatar {
  width: 180px;
  height: auto;          
  margin-bottom: 20px;
}

.icono {
  width: 30px;
  vertical-align: middle;
}


h1 {
  font-size: 2.2;
  margin-bottom: 12px;
  color: #ffffff;
}

p {
  font-size: 1.1;
  line-height: 1.6;
  color: #f0f2f5;
}



.gustos {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}


.tabla {
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;


  
}
.tabla th, .tabla td {
  border: 1px solid #444;
  padding: 12px;
}
.tabla th {
  background: #2b2f36;
  color: #0589cb;
}




.formulario {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
  width: 100%;
}
.formulario input, 
.formulario textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1;
}

.formulario button {
  background: #7ab7e6;
  color: #1e1e2e;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;

}


.menu {
  margin-top: 25px;
  display: flex;  
  gap: 14px;
  justify-content: center;
  list-style: none;  
  padding: 0;   
}
.menu a {
  background: #2b2f36;
  color: #7ab7e6;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: bold;
 
}


